<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comparison</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
    <header data-bs-theme="dark">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong><i class="bi bi-credit-card"></i> comparison</strong>
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col" th:each="product : ${products}" th:id="${product.id}">
                        <div class="card shadow-sm">
                            <div class="card-header" th:text="${product.infoEdited.productTitle}"></div>
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <img th:src="${product.infoEdited.logo}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body">
                                            <div class="card-text">
                                                <div th:each="flag : ${product.flags}" th:class="${flag.type.toString.equals('POSITIVE') ? 'text-success' : 'text-warning'}">
                                                    <i th:if="${flag.type.toString.equals('POSITIVE')}" class="bi bi-check-circle"></i>
                                                    <i th:if="${flag.type.toString.equals('NEGATIVE')}" class="bi bi-exclamation-circle"></i>
                                                    <span th:text="${flag.description}"></span>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body text-end">
                                        <h5 class="text-info" th:text="@{|${product.info.yearlyFee}€|}"></h5>
                                        <p>
                                            Yearly fee<br>
                                            <small>(1st year fee: <span class="text-info" th:text="@{|${product.info.firstYearFee}€|}"></span>)</small>
                                        </p>
                                        <p><strong>A.P.R.</strong> <span class="text-info" th:text="@{|${product.info.apr}€|}"></span></p>
                                        <a th:href="${product.infoEdited.link}" class="btn btn-primary">Visit web</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2023 Keyvan Akbary</p>
    </footer>
</body>
</html>
